

body {
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Initial background color */
}

.container {
    padding: 20px;
}

h1{
    
    text-transform: uppercase;
    animation: mytext 5s infinite;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background: linear-gradient(#ffc371,#f44336);
    transform: scaleX(10px);

}

button:hover{
    color:#8e0e00;
    font-weight:600;
    background:linear-gradient(#c2e59c,#64b3f4);

}

@keyframes mytext {

    30% {
        text-shadow:   3px  3px 3px  #ec6560 ;   
     }

     70%{
        text-decoration: underline solid #8e0e00 50%;
        text-decoration-thickness: 4px;

     }

}
